.form-control {
    
}

.search-icon {
   color: rgb(255, 255, 255);
    
    
}

.form-group{
    
}

.navbar{
    
}

.header{
    width: 100%;
}

.mat-menu{
    margin: 10px;
    z-index: 10;
}

.mat-icon:hover{
    cursor: pointer;

}

.form-group
{
    margin: 10px;
}

.title
{
    margin: 10px;
}

.search
{
    margin: 10px;
}

.mat-icon{
    margin: 10px;
}