// /navbar-sub
.navbar-sub{
    justify-content: space-around;
}
.card-top {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    //border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}
.card-item{
    border:none;
    margin:20px 0;
}

.item img {
    // width: 64px;
}

.item {
    margin: 0px 10px;
    text-align: center;
}

.item a:hover {
    color: blue;
}

.card {
    
    // position: relative;
    padding:10px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
    
}

.card img {
    width: 150px;
    height: 150px;
    max-width:80%;
    //margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card img:hover {
    cursor: pointer;
}

.html{
    position: absolute;
}

.item:hover {
    cursor: pointer;
    transition: 0.3s ease-in-out;
}